// stylelint-disable scss/at-extend-no-missing-placeholder
// Just the HM Docs styles
@import "hm-branding";
@import "hm-code";
@import "hm-colors";
@import "hm-notes";

// Overrides
iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

.main-content {
  dl {
    display: block;
  }

  dt {
    font-weight: 700;
    text-align: start;
  }

  dd + dt {
    margin-top: 1em;
  }
}
