html {
	font-size: $font-size-5 !important;
}


a:not([class]) {
	text-decoration-color: $link-color;
}

input::placeholder,
.search-label .search-icon {
	color: $link-color;
}

input::placeholder {
	@include fs-4;
}

h1, h2, h3, h5, h6 {
	font-weight: 700;
}

h1 {
	@include fs-9;
}

h2 {
	@include fs-7;
}

h3 {
	@include fs-6;
}

h4 {
	@include fs-5;
}

h5 {
	@include fs-5;
}

h6 {
	@include fs-4;
}

.btn {
	background-image: none;
	border: 2px solid $link-color;
	border-radius: rem( 24px );
	box-shadow: none;
	align-items: center;
	display: inline-flex;
	padding: $sp-2 $sp-4;

	&::after {
		content: "\2192";
		font-size: 144%;
		font-weight: 400;
		line-height: 0.8;
		margin-left: $sp-2;
	}
}

.site-title:hover,
.site-button:hover {
	background: $sidebar-color;
}

.site-header,
.main-header,
.side-bar {
	border-color: $border-color-lt;
}

.side-bar {
	background-color: $white;
}

.site-title,
.nav-list .nav-list-item .nav-list-link,
.site-footer {
	@media (min-width: 50rem) {
		padding-left: $gutter-spacing-sm;
	}
}

.site-title {
	@media (min-width: 50rem) {
		font-size: rem( 21px ) !important;
		padding-bottom: $gutter-spacing-sm;
		padding-top: $gutter-spacing-sm;
	}
}

.site-logo {
	align-items: center;
	display: flex;
	font-weight: 700;

	&::after {
		content: "Documentation";
		padding-left: rem( 62px );

		@media (min-width: 50rem) {
			padding-left: rem( 53px );
		}
	}
}

.site-nav {
	margin-bottom: $gutter-spacing-sm;
}

.nav-list .nav-list-item {
	font-size: $font-size-5 !important;

	.nav-list-expander,
	.nav-list-link {
		color: $nav-child-link-color;

		&:hover,
		&.active {
			background: $sidebar-color;
		}
	}

	.nav-list-link {
		text-decoration: underline;
		text-underline-offset: rem( 3px );

		&:hover,
		&.active {
			color: $link-color;
			text-decoration: underline;
		}

		&.active {
			font-weight: 700;
		}
	}
}

.search {
	padding: $gutter-spacing-sm;
	padding-bottom: 0;

	@media (min-width: 50rem) {
		padding: 0;
	}
}

.search-input {
	padding-left: #{$gutter-spacing-sm + $sp-6};

	@media (min-width: 50rem) {
		padding-left: #{$gutter-spacing + $sp-6};
	}
}

.search-label .search-icon {
	height: rem( 22px );
	width: rem( 22px );
}

.aux-nav {
	@include fs-4;
}
