// HM styling just for code blocks and snippets.
@use "sass:meta";

:not(pre, figure) > code {
  background: $code-linenumber-color; // Code Background
  padding: $sp-1 $sp-2;
}

code,
.highlight .table-wrapper td,
.highlight .table-wrapper pre {
  font-size: $font-size-4 !important;
}

div.highlighter-rouge,
div.listingblock {
  div.highlight {
    padding: $sp-5;
  }
}

// Mostly taken from OneDarkJekyll - Vivid.
// https://github.com/mgyongyosi/OneDarkJekyll/blob/master/syntax-one-dark-vivid.css
.highlight {
  .c, // comment
  .cm, // comment.multiline
  .cp, // comment.preproc
  .c1, // comment.single
  .cs, // comment.special
  .gu // generic.subheading
  {
    color: #989fae;
    font-style: italic;
  }

  .err // error
  {
    color: #960050;
    background-color: #1e0010;
  }

  .k, // keyword
  .kc, // keyword.constant
  .kd, // keyword.declaration
  .kn, // keyword.namespace
  .kp, // keyword.pseudo
  .kr, // keyword.reserved
  .kt // keyword.type
  {
    color: #e19ef5;
  }

  .l, // literal
  .ld, // literal.date
  .s, // literal.string
  .sb, // literal.string.backtick
  .sc, // literal.string.char
  .sd, // literal.string.doc
  .s1, // literal.string.single
  .s2, // literal.string.double
  .se, // literal.string.escape
  .sh, // literal.string.heredoc
  .si, // literal.string.interpol
  .sx // literal.string.other
  {
    color: #a3eea0;
  }

  .n, // name
  .nf, // name.function
  .nn, // name.namespace
  .nx, // name.other
  .o, // operator
  .p // punctuation
  {
    color: #dee2f7;
  }

  .ge // generic.emph
  {
    font-style: italic;
  }

  .gs // generic.strong
  {
    font-weight: 700;
  }

  .m, // literal.number
  .il, // literal.number.integer.long
  .mf, // literal.number.float
  .mh, // literal.number.hex
  .mi, // literal.number.integer
  .mo, // literal.number.oct
  .na // name.attribute
  {
    color: #eddc96;
  }

  .bp, // name.builtin.pseudo
  .nb, // name.builtin
  .nc, // name.class
  .no, // name.constant
  .nd, // name.decorator
  .ni, // name.entity
  .ne, // name.exception
  .nl, // name.label
  .nv, // name.variable
  .py, // name.property
  .vc, // name.variable.class
  .vg // name.variable.global
  {
    color: #fdce68;
  }

  .nt, // name.tag
  .vi // name.variable.instance
  {
    color: #f9867b;
  }

  .ow // operator.word
  {
    font-weight: 700;
  }

  .w // text.whitespace
  {
    color: #f8f8f2;
  }

  .sr, // literal.string.regex
  .ss // literal.string.symbol
  {
    color: #7be2f9;
  }

  .gd // generic.deleted
  {
    color: #f92672;
  }

  .gi // generic.inserted
  {
    color: #a6e22e;
  }
}
