// HM styling just for callouts, notes, and warnings.
blockquote {
  border-left: 0 none;
}

p,
blockquote {
  &.highlight,
  &.important,
  &.important-title,
  &.new,
  &.note,
  &.note-title,
  &.warning {
    border-left: 0 none;
    box-shadow: none;
    margin-bottom: $sp-7;
    margin-top: $sp-7;
    padding: $sp-5;

    & > &,
    & > div.opaque > & {
      margin-bottom: $sp-4;
      margin-top: $sp-4;
    }

    &::before,
    &:is(.important-title) > p:first-child,
    &:is(.note-title) > p:first-child {
      @include fs-3;
      letter-spacing: 1px;
    }
  }
}

div.opaque {
  border-radius: $border-radius;
}
