// Custom setup code
$base-button-color-hover: $base-button-color;
$border-color-lt: $border-color;
$btn-primary-color-hover: $btn-primary-color;
$code-block-background-color: $code-background-color;
$code-block-color: $body-text-color;

// HM colors
// purples
$hm-purple-100: #f7f2ff;
$hm-purple-200: #e7d4ff;
$hm-purple-300: #d7b7ff;
$hm-purple-400: #c69aff;
$hm-purple-500: #b67dff;
$hm-purple-600: #a168ea;
$hm-purple-700: #8550c8;
$hm-purple-800: #6a3ba6;
$hm-purple-900: #512984;
$hm-purple-1000: #3a1a62;

// reds
$hm-red-100: #ffeced;
$hm-red-200: #ffc1c4;
$hm-red-300: #ff979b;
$hm-red-400: #ff6c73;
$hm-red-500: #ff424a;
$hm-red-600: #dd2e36;
$hm-red-700: #bb1e25;
$hm-red-800: #991117;
$hm-red-900: #77070c;
$hm-red-1000: #550105;

// blues
$hm-blue-100: #eff2ff;
$hm-blue-200: #cad6ff;
$hm-blue-300: #a5b9ff;
$hm-blue-400: #819dff;
$hm-blue-500: #5c80ff;
$hm-blue-600: #4668df;
$hm-blue-700: #3251bd;
$hm-blue-800: #223d9b;
$hm-blue-900: #142b79;
$hm-blue-1000: #0a1b57;

// mints
$hm-mint-100: #e8fffc;
$hm-mint-200: #befff6;
$hm-mint-300: #94fff1;
$hm-mint-400: #6affec;
$hm-mint-500: #40ffe6;
$hm-mint-600: #16fbdd;
$hm-mint-700: #00d2b7;
$hm-mint-800: #00a993;
$hm-mint-900: #008070;
$hm-mint-1000: #00584c;

// navys
$hm-navy-100: #f7faff;
$hm-navy-200: #e4efff;
$hm-navy-300: #d2e4ff;
$hm-navy-400: #c0d9ff;
$hm-navy-500: #aeceff;
$hm-navy-600: #8aacdf;
$hm-navy-700: #698bbd;
$hm-navy-800: #4c6c9b;
$hm-navy-900: #345079;
$hm-navy-1000: #203657;

// neutrals
$hm-black: #000;
$hm-off-black: #131313;
$hm-charcoal-grey: #353535;
$hm-ash-grey: #717171;
$hm-white-mist: #f7f7f7;
$hm-off-white: #fbfbfb;
$hm-white: #fff;

// If you need to update this map, first copy the variables above,
// then find/replace in selection with the following regex
// (just the content inside the [] brackets, don't include the brackets):
// Find: [\$(.*): #(.*);] Replace: ["$1": \$$1,]
// Then do it again with these params:
// Find: [(".*"): \\(\$.*),] Replace: [$1: $2,]
$hm-colors: (
  // purples
  "hm-purple-100": $hm-purple-100,
  "hm-purple-200": $hm-purple-200,
  "hm-purple-300": $hm-purple-300,
  "hm-purple-400": $hm-purple-400,
  "hm-purple-500": $hm-purple-500,
  "hm-purple-600": $hm-purple-600,
  "hm-purple-700": $hm-purple-700,
  "hm-purple-800": $hm-purple-800,
  "hm-purple-900": $hm-purple-900,
  "hm-purple-1000": $hm-purple-1000,
  // reds
  "hm-red-100": $hm-red-100,
  "hm-red-200": $hm-red-200,
  "hm-red-300": $hm-red-300,
  "hm-red-400": $hm-red-400,
  "hm-red-500": $hm-red-500,
  "hm-red-600": $hm-red-600,
  "hm-red-700": $hm-red-700,
  "hm-red-800": $hm-red-800,
  "hm-red-900": $hm-red-900,
  "hm-red-1000": $hm-red-1000,
  // blues
  "hm-blue-100": $hm-blue-100,
  "hm-blue-200": $hm-blue-200,
  "hm-blue-300": $hm-blue-300,
  "hm-blue-400": $hm-blue-400,
  "hm-blue-500": $hm-blue-500,
  "hm-blue-600": $hm-blue-600,
  "hm-blue-700": $hm-blue-700,
  "hm-blue-800": $hm-blue-800,
  "hm-blue-900": $hm-blue-900,
  "hm-blue-1000": $hm-blue-1000,
  // mints
  "hm-mint-100": $hm-mint-100,
  "hm-mint-200": $hm-mint-200,
  "hm-mint-300": $hm-mint-300,
  "hm-mint-400": $hm-mint-400,
  "hm-mint-500": $hm-mint-500,
  "hm-mint-600": $hm-mint-600,
  "hm-mint-700": $hm-mint-700,
  "hm-mint-800": $hm-mint-800,
  "hm-mint-900": $hm-mint-900,
  "hm-mint-1000": $hm-mint-1000,
  // navys
  "hm-navy-100": $hm-navy-100,
  "hm-navy-200": $hm-navy-200,
  "hm-navy-300": $hm-navy-300,
  "hm-navy-400": $hm-navy-400,
  "hm-navy-500": $hm-navy-500,
  "hm-navy-600": $hm-navy-600,
  "hm-navy-700": $hm-navy-700,
  "hm-navy-800": $hm-navy-800,
  "hm-navy-900": $hm-navy-900,
  "hm-navy-1000": $hm-navy-1000,
  // neutrals
  "hm-black": $hm-black,
  "hm-off-black": $hm-off-black,
  "hm-charcoal-grey": $hm-charcoal-grey,
  "hm-ash-grey": $hm-ash-grey,
  "hm-white-mist": $hm-white-mist,
  "hm-off-white": $hm-off-white,
  "hm-white": $hm-white
);

// HM colors for callouts
// Note that the darkness numbers do not match the designs,
// but are necessary for the way the theme creates the color values.
$hm-red-callout-000: $hm-red-200;
$hm-red-callout-300: $hm-red-600;
$hm-blue-callout-000: $hm-blue-200;
$hm-blue-callout-300: $hm-navy-800;
$hm-purple-callout-000: $hm-purple-200;
$hm-purple-callout-300: $hm-purple-800;
$hm-mint-callout-000: $hm-mint-200;
$hm-mint-callout-300: $hm-mint-900;
