// custom setup code goes here
$base-button-color-hover: $base-button-color;
$border-color-lt: $border-color;
$btn-primary-color-hover: $btn-primary-color;
$code-block-background-color: $code-background-color;
$code-block-color: $body-text-color;

// HM colors for callouts
// Note that the darkness numbers do not match the designs,
// but are necessary for the way the theme creates the color values.
$hm-red-000: #ffc1c4;
$hm-red-300: #dd2e36;
$hm-blue-000: #cad6ff;
$hm-blue-300: #4c6c9b;
$hm-purple-000: #e7d4ff;
$hm-purple-300: #6a3ba6;
$hm-mint-000: #befff6;
$hm-mint-300: #008070;
