// Override theme colors.
$base-button-color: $white;
$base-button-color-hover: $hm-navy-100;
$body-text-color: $hm-navy-1000;
$body-heading-color: $hm-navy-1000;
$border-color: $hm-navy-300;
$border-color-lt: $hm-navy-200;
$btn-primary-color: $hm-blue-600;
$btn-primary-color-hover: $hm-red-600;
$code-background-color: $hm-navy-100;
$code-block-background-color: $hm-navy-1000;
$code-block-color: $hm-navy-100;
$feedback-color: $hm-blue-100;
$link-color: $hm-blue-600;
$nav-child-link-color: $hm-navy-1000;
$search-result-preview-color: $hm-navy-1000;
$sidebar-color: $hm-navy-100;

// Override theme variables.
$border-radius: rem(6px);
$content-width: 915px;
$gutter-spacing: $sp-7;
$header-height: 70px;
$nav-list-item-height: $spacing-unit * 3.2;
$nav-list-item-height-sm: $spacing-unit * 3.2;
$nav-width: 276px;
