// Labels (not the form kind)

// this :not() prevents a style clash with Mermaid.js's
// diagram labels, which also use .label
// for more, see https://github.com/just-the-docs/just-the-docs/issues/1272
// and the accompanying PR
.label:not(g),
.label-blue:not(g) {
  border-radius: rems(12);
  display: inline-block;
  padding: 0.16em 0.56em;
  margin-right: $sp-2;
  margin-left: $sp-2;
  color: $white;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: $hm-blue-600;
  @include fs-2;
}

.label-green {
  background-color: $hm-mint-900;
}

.label-purple {
  background-color: $hm-purple-800;
}

.label-red {
  background-color: $hm-red-600;
}

.label-yellow:not(g) {
  color: $grey-dk-200;
  background-color: $yellow-200;
}
